<div class="wrap">
    {% include 'admin/settings/common/page-title.html.twig' %}

    {% include 'admin/settings/common/page-tabs.html.twig' %}

    {% include 'admin/settings/common/page-form.html.twig' %}
</div>